.body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

.main{
	background: white;
	min-width: 500px;
	text-align: center;
}

.header {
    background-color: rgb(50, 153, 187);
    color: white;
	border-bottom-color: gray;
	border-bottom-width: 1px;
	width:100%;
	height: 75px;
	position:fixed;
	text-align: right;
	padding: 0px 30px;
	z-index: 2;
}

/* 
 * Filter Menu Styles
 */
.filter-menu {
    width: 200px;
    display: inline;
    overflow-y: auto;
    position: fixed;
    top: 75px;
    background-color: #f1f1f1;
    height: 100%;
    z-index: 1;
}

.filter-menu-header {
    position: relative;
    height: 75px;
    padding: 30px 9px 0px 16px;
}

.filter-menu-category {
    cursor: auto;
    display: none;
}

.filter-menu a {
    display: block;
    padding: 4px 2px 4px 16px;
    background-color: #ccc;
    transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
    text-decoration: none;
}

.filter-menu a:hover {
    background-color: #9e9e9e;
}

.filter-menu-category input[type="checkbox"] {
    height: 15px;
    width: 15px;
    position: relative;
    top: 2px;
}

.filter-menu-category input[type="text"] {
    margin-left: 20px;
    width: 100px;
    border: 1px solid #ccc;
}

.filter-menu-category ul {
    padding-left: 30px;
}

.sort-and-search-container {
    display: inline-block;
    position: absolute;
    top: 90px;
    left: 215px;
    right: 65px;
    min-width: 625px;
}

/* 
 * Sort and Search styles
 */
.sort-dropdown {
    position: absolute;
    left: 0px;
    width: 300px;
    float: left;
    background-color: rgb(50, 153, 187);
    color: white;
    padding: 9px;
    cursor: pointer;
}

.search-bar {
    position: absolute;
    right: 75px;
    height: 40px;
    padding: 8px;
    border: 1px solid;
    border-color: rgb(50, 153, 187);
}

.search-button {
    position: absolute;
    right: 0px;
    height: 40px;
    width: 75px;
    text-align: center;
    background-color: rgb(50, 153, 187);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

/*
 * Product Card Styles
 */
.products-container {
    position: absolute;
    left: 200px;
    right: 50px;
    top: 145px;
}

.product-card {
    height: 300px;
    margin: 15px;
    min-width: 350px;
    position: relative;
    float: left;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.product-card{width: calc(100% - 30px);}

@media only screen and (min-width:1042px){
.product-card{width: calc((100% - 60px) / 2)}
}
@media only screen and (min-width:1425px){
.product-card{width: calc((100% - 90px) / 3);}
}

.product-container {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.product-image-container {
    height: 150px;
    position: relative;
    top: 15px;
}

.product-image-container img {
    max-width: 300px;
    max-height: 150px;
}

.product-name {
    margin: 15px;
    font-size: 24px;
}

.product-rating-and-price-container {
    font-size: 18px;
}

.product-rating {
    position: absolute;
    left: 30px;
    color: rgb(255, 153, 0);
}

.product-price {
    position: absolute;
    right: 30px;
}

/* 
 * Circular Menu Styles
 */
.circular-menu {
    width: 250px;
    height: 250px;
    z-index: 1;
    margin: 0 auto;
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left:-125px;
}

.circle {
    width: 250px;
    height: 250px;
    opacity: 0;
    
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.open.circle {
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.circle i {
    text-decoration: none;
    color: #444;
    border-radius: 50%;
    background: #dde;
    display: block;
    height: 60px;
    width: 60px;
    line-height: 40px;
    padding: 10px;
    margin-left: -30px;
    margin-top: -30px;
    position: absolute;
    text-align: center;
    cursor: pointer;

}

.circle i:hover {
    color: #eef;
}

/* Tooltip container */
.tooltip {
    position: relative;
}

/* Tooltip text */
.tooltip .tooltip-text {
visibility: hidden;
    background-color: black;
    font-size: 15px;
	font-family: Verdana,sans-serif;
    color: #fff;
    padding: 5px 5px;
    border-radius: 6px;
    float: left;
    position: absolute;
    z-index: 1;
    line-height: normal;
    bottom: 100%;
	transition-delay: .5s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
	transition-delay: .5s;
    visibility: visible;
}

/*
 * Modal Window Styles
 */
.w3-modal img{
    max-height:350px;
    max-width:350px;
}

.w3-modal ul{
}

.modal-videos-tab-content iframe {
    height: 273px;
    width: 448px;
}

.modal-videos-tab-content td {
    padding: 5px;
}

.modal-videos-tab-content h3 {
    margin: 0px;
}

.modal-videos-tab-content ul {
    padding: 0px;
    text-align: left;
}

.modal-videos-tab-content img {
    max-width: 200px;
}

.review {
    margin: 10px 30px;
}

.stars {
    color: rgb(255, 153, 0);
}

ul.tab {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.tab li {
	float: left;
}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {
	background-color: #ddd;
}

ul.tab li a:focus, .active {
	background-color: #ccc;
}